@font-face {
	font-family: "ThirstyScriptMedium";
	src: url(../fonts/ThirstyScriptExtraBoldDemo.otf);
}

@font-face {
	font-family: "YummyCupcakes";
	src: url(../fonts/YummyCupcakes.ttf);
}

@font-face {
	font-family: "Merienda-Regular.ttf";
	src: url(../fonts/Merienda-Regular);
}




body {
	font-size: 16px;
	margin: auto;
    color: black;
    font-size: 16px;
    background-color: antiquewhite;
}

h1,
header,
h6,
p {
    color:black;
}

.banner {

	background-color: #006480;
	text-align: center;
	border-bottom: black solid 8px;

}

.banner:after 

.tagline {

	text-align: center; 
}

.snack_container {
    background-image: url("../images/payrange.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-color: 'offwhite';
    margin: auto;
    padding: 30px;
}


.warm_message {
    border: black solid 2px;
    text-align: center;
    margin: auto;
    padding: 100px;
    background-color: antiquewhite;
    color: aquamarine;
    text-align: center;
}

header h6 {

	color: #eb174f;
	text-decoration: italic;
	font-family: "Merienda-Regular";
	font-size: 25px;
	margin: 0;
	padding: 0;
	padding-bottom: 40px;

}
div .main_headline {
    color: black;
    text-align: center;
    background-color: beige;
}

.hungry_headline {
    float: left;
    text-align: center;
    color: black;
}



/*links in nav bar, in different active states*/

ul {
	padding: 0;
	margin: 0;
}


nav li {

	font-family: "Merienda-Regular.ttf";
	color: white;
	padding: 0;
	margin-right: 15px;
	display: inline-block;
	font-size: 25px;
	text-decoration: none;
	text-align: center;
}


.home_button {
	font-family: "YummyCupcakes";
	background: #eb174f;
	width: 200px;
	padding: 15px;
	color: white;

}

nav a:hover {

	color: lightblue;
}

nav a {
	text-decoration: none;
	color: orange;
}

nav {
	border-bottom: #FFFFF3 solid 1px;

}

.clearfix:after {
	clear: both;
}

/*End of Nav link styles*/

.container {
	background: #fef2df;
	margin: auto;
	margin-top: 0;
	text-align: center;
	padding-top: 50px;
}
.craving {
	color: blue;
	text-align: center;
	padding: 20px;
	font-size: 22px;
	margin-top: 0;
}

.fact {
	float: left;
	background-color: white;

}

.pic {
	float: right;
	background-color: white;
	border: black solid 2px;
}























