@font-face {
	font-family: "ThirstyScriptMedium";
	src: url(../fonts/ThirstyScriptExtraBoldDemo.otf);
}

@font-face {
	font-family: "YummyCupcakes";
	src: url(../fonts/YummyCupcakes.ttf);
}

@font-face {
	font-family: "Merienda-Regular.ttf";
	src: url(../fonts/Merienda-Regular);
}

.row.full-width {
    width: 100%;
    max-width: 100%;
}


.banner {

	background-color: #006480;
    background-attachment: fixed;
    background-image: url("../images/retro_machine.jpg");
    background-repeat: no-repeat;
    opacity: .80;
    background-size: cover;
	text-align: center;
	border-bottom: white solid 8px;
}

.banner:after 

.tagline {

	text-align: center; 
    text-stroke: black 2px;
}

.nav_bar {
    background-color: #006480;
}

ul {
	padding: 0;
	margin: 0;
}


nav li {

	font-family: "Merienda-Regular.ttf";
	color: white;
	padding: 0;
	margin-right: 15px;
	display: inline-block;
	font-size: 25px;
	text-decoration: none;
	text-align: center;
}


.home_button {

	background: #eb174f;
	width: 200px;
	padding: 15px;
	color: white;

}

nav a:hover {

	color: lightblue;
}

nav a {
	text-decoration: none;
	color: orange;
}

nav {
	border-bottom: #FFFFF3 solid 1px;

}

.clearfix:after {
	clear: both;
}


header h6 {

	color: #eb174f;
    background-color: whitesmoke;
	text-decoration: italic;
	font-family: "Merienda-Regular";
	font-size: 40px;
	padding-bottom: 40px;
    text-stroke: black 5px;
    text-emphasis: bold;
    padding: 0;
    margin-bottom: 20px;

}

.headline_container {
background-color: #006480;
}

.main_headline_1 {
    color: orange;
    font: "Merienda-Regular";
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-top: 20px;
}

.main_headline {
    color: #c9e1f5;
    font: "Merienda-Regular";
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.message_container {
    border-bottom: white solid 5px;
    background-color: #006480;
    text-align: center;
    padding: 25px 0 40px 0;
}

.warm_message {
    text-align: center;
    margin: auto;
    color: #c9e1f5;
    text-stroke: 1px black;
    font-size: 40px;
    font: "Merienda-Regular";  
}

.mom_pop_div {
    background: no-repeat;
    background-position: center;
    background-image: url(../images/mom_pop.jpg);
    background-attachment: fixed;
    height: 600px;
}

.snack_container {
    background-color: #fef2df;
    border-top: #006480 solid 5px;

}

.hungry_headline {
    color: #eb174f;
    text-align: center;
    padding-top: 250px;
    font-size: 50px;

}

.sorting_grid_image {
    padding: 0;
    margin: 80px 0 50px 0;
    text-align: center;
    border: #006480 solid 4px;
}

.suggestion_h3 {
    color: #006480;
    font-size: 30px;
    padding: 30px 0 0 15px;
    font-size: 25px;
}

.snack_container h4 {
    color: orange;
    text-align: center;
    font-size: 20px;
}

.snack_button {
    background-color: darkgreen;
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
    border: darkgreen solid 2px;
}

.ordered_list_container {
    background-color: whitesmoke;
}

.ordered_list {
    color: #006480;
    font-size: 20px;
    margin-left: 80px;
    padding: 30px 0 15px 15px;

}
.payrange_container {
    background-color: #006480;
    background-image: url(../images/payrange_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .90;
    text-align: center;
    border-top: #006480 solid 20px;
    border-bottom: #006480 solid 5px;
    margin-bottom: 60px;
}

.payrange_text {
    font-size: 60px;
    color: #eb174f;
    padding: 200px 0 20px 0;
    text-align: center;
    text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.payrange_text_2 {
    color: white;
    padding: 0 0px 50px 0;
    text-align: center;
    text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.payrange_button {
    background-color: darkgreen;
    text-align: center;
    margin-bottom: 200px;

}

.footer_container {
    border-top: black solid 1px;
}

.logo {
    font-size: 40px;
    color: #006480;
    font-family: "YummyCupcakes";
    margin-top: 30px;
    margin: auto;
    text-align: center;
}

.bottom_nav_container {
    margin: auto;
    border-top:black solid 1px;
}

.bottom_nav {
    margin: 40px;
}

.bottom_nav li {
    font-size: 16px;
    border: none;
}

.bottom_nav a {
    color: orange;
}

.info_container {
    margin-top: 30px;
}

.facebook_container h4 {
    color: black;
    font-size: 18px;
    padding-top: 30px;
    margin-bottom: 0;
}

.address_container h4 {
    font-size: 20px;
    color: black;
    padding-left: 20px;
}

.name_container h4 {
    color: black;
    font-size: 16px;
}

.rights {
    font-size: 12px;
    color: grey;
}


















