@font-face {
	font-family: "ThirstyScriptMedium";
	src: url(../fonts/ThirstyScriptExtraBoldDemo.otf);
}

@font-face {
	font-family: "YummyCupcakes";
	src: url(../fonts/YummyCupcakes.ttf);
}

@font-face {
	font-family: "Merienda-Regular.ttf";
	src: url(../fonts/Merienda-Regular);
}

@font-face {
    font-family: "Apple Garamond Light Regular.ttf;
    src: url(../fonts/Apple Garamond Light Regular);
}

.row.full-width {
    width: 100%;
    max-width: 100%;
}


.banner {

	background-color: #006480;
    background-attachment: fixed;
    background-image: url("../images/retro_machine_altered.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	border-bottom: white solid 8px;
}

.tagline_home_container {
    /*background-color: rgba(240, 144, 55, 0.4);*/
    margin-top: 90px;
}

.tagline {

}

.nav_bar.fully-opaque {
    background-color:  rgb(0, 100, 128);
}

.nav_bar {
    background-color: rgba(0, 100, 128, 0.5);
    position: fixed;
    z-index: 1;
    transition: background-color .8s;
}


nav li {

	font-family: "Merienda-Regular.ttf";
    padding: 10px 15px 0 0;
	display: inline-block;
	font-size: 25px;
	text-decoration: none;
}


.home_button {
	background: #eb174f;
	width: 200px;
	padding: 25px 25px 25px 30px;
    margin: 0;
	color: white;
}

nav a:hover {

	color: lightblue;
}

nav a {
	text-decoration: none;
	color: darkorange;
     text-shadow:
           0px 1px 0 #000,
            1px 2px 0 #000,
          1px 1px 0 #000,
          1px 1px 0 #000,
           1px 1px 0 #000;
}

.clearfix:after {
	clear: both;
}


header h6 {

	color: #fff;
    /*background-color: rgba(245, 245, 245, .7);*/
    text-align: center;
	font-family: "Apple Garamond Light Regular";
	font-size: 40px;
    margin-bottom: 60px;
    margin-top: 30px;
    text-shadow:
           3px 3px 0 #000,
            -1px -1px 0 #000,
          3px -1px 0 #000,
          -2px 2px 0 #000,
           2px 2px 0 #000;
}

.headline_container {
    /*background-color: rgba(0, 100, 128, .7);*/
    margin-top: 300px;
    margin_bottom: 300px;
}

.headline_container h1, h2, p {
    text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.main_headline_1 {
    color: #eb174f;
    font: "Merienda-Regular";
    text-align: center;
    font-size: 60px;
    margin-top: 25px;
    padding-top: 20px;
}

.main_headline {
    color: orange;
    font: "Merienda-Regular";
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.message_container {
    border-bottom: white solid 5px;
    background-color: #006480;
    text-align: center;
    padding: 25px 0 40px 0;
}

.warm_message {
    text-align: center;
    margin: auto;
    color: #c9e1f5;
    font-size: 22px;
    font: "Merienda-Regular";
    padding: 20px
}
/* Begin Slide-in for all taglines*/

div.slide-right h6 {
  width:100%;
  overflow:hidden;
}
div.slide-right h6 {
  animation: slide-right 3s;
}

@keyframes slide-right {
  from {
    margin-left: 150%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* End of Slide in for taglines*/

.mom_pop_div {
    background: no-repeat;
    background-position: center;
    background-image: url(../images/mom_pop.jpg);
    height: 700px;
}

.slide-left {

div.headline_container {
  overflow:hidden;
}
div.headline_container h1 {
  animation: slide-left 2s;
    position: relative;
}

@keyframes slide-left {
  from {
    left: -600px;
  }

  to {
    left: 0;
  }
}


div.headline_container {
  overflow:hidden;
}
div.headline_container h2 {
  animation: slide-right 2s;
    animation-delay: 1s;
    position: relative;
}

@keyframes slide-right {
  from {
    right: -600px;
  }

  to {
    right: 0;
  }
}

div.headline_container {
  overflow:hidden;
}
div.headline_container p {
  animation: slide-left 2s;
    animation-delay: 1s;
    position: relative;
}

@keyframes slide-left {
  from {
    left: -600px;
    midth: 200%
  }

  to {
    left: 0;
  }
}

}


.snack_container {
    background-color: #fef2df;
    border-top: #006480 solid 5px;

}

.hungry_headline {
    color: #eb174f;
    text-align: center;
    padding-top: 250px;
    font-size: 50px;

}

.sorting_grid_image {
    padding: 0;
    margin: 80px 0 50px 0;
    text-align: center;
    border: #006480 solid 4px;
}

.suggestion_h3 {
    color: #006480;
    font-size: 30px;
    padding: 30px 0 0 15px;
    font-size: 25px;
}

.snack_container h4 {
    color: orange;
    text-align: center;
    font-size: 20px;
}

.snack_button {
    background-color: darkgreen;
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
    border: darkgreen solid 2px;
}

.ordered_list_container {
    background-color: whitesmoke;
}

.ordered_list {
    color: #006480;
    font-size: 20px;
    margin-left: 80px;
    padding: 30px 0 15px 15px;

}
.payrange_container {
    background-color: #006480;
    background-attachment: fixed;
    background-image: url(../images/payrange_banner_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .90;
    text-align: center;
    border-top: #006480 solid 20px;
    border-bottom: #006480 solid 5px;
}

.payrange_text {
    font-size: 60px;
    color: #eb174f;
    padding: 200px 0 20px 0;
    text-align: center;
    text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.payrange_text_2 {
    color: white;
    padding: 0 0px 50px 0;
    text-align: center;
    text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.payrange_button {
    background-color: darkgreen;
    text-align: center;
    margin-bottom: 200px;

}

.footer_container {
    background-color: #006480;
    opacity: 80%;
}


.bottom_nav_container {
    padding-top: 40px;

}

.bottom_nav a {
    text-align: center;
    color: orange;
    padding: 0px;
    margin: auto;
    font-size: 18px;
}

.rights {
    font-size: 12px;
    color: grey;
    padding-bottom: 40px;
}


/* Beginning of Who We Are page*/

.banner_about {
    background-image: url(../images/about_banner.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1350px 1100px;
}

.heading_about {
    margin-bottom: 150px;
     text-align: center;
}

.tagline_about {
    padding-top: 80px;
}

.stop_center {

}

/*Beginning of Find Your Snack page*/

.banner_snack {
    background-image: url(../images/find_your_snack_banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    opacity: .80;
}

.tagline_snack {
    margin-top: 100px;

}

.decisions {
    text-align: center;
    padding-left: 10px;
}

.promotions_container {
    padding-bottom: 20px;
    border-top: #006480 solid 5px;
    border-bottom: #006480 solid 5px;

}

.promo_headline_container {
    padding: none;
    margin: auto;
}

.try_this {
    color: orange;
    border-bottom: solid 1px #006480;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.promotions_container h2 {
    color: cadetblue;


}

.todays_snack{
    text-align: center;
    color: #006480;
;
    padding-top: 30px;
}

.product_input {
    text-align: center;
    color: orange;
}

.promotion_image {
    margin-top: 15px;
}

.promotion_description {
    text-align: center;
    color: #006480;
    padding-top: 30px;
}


.payrange_ad_container {
    background-image: url(../images/payrange_ad_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .80;

}

.payrange_ad_container h3 {
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.payrange_button_snack {
    background-color: darkgreen;
    text-align: center;
}


.snack_app_container {
    background-image: url(../images/snack_background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: #006480 solid 5px;
}

.instructions_container {
    background-color: rgba(250,235,215,0.9);
    color: #006480;
    margin: auto;
}


.instructions_container h3 {
    color:#eb174f;

}

.craving_headline {
    padding-top: 100px;
    text-align: center
}



.number_1 {
    list-style-image: url(../images/number_1.png);
    padding-top: 50px;
    color: #006480;
    text-align: center;
}

.location_dropdown {
    margin-top: 30px;
    background-color: green;
}

.number_2 {
    list-style-image: url(../images/number_2.png);
    color:#006480;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

}

.icon_container {
    padding-bottom: 200px;
}

.icon_container li {
    display: block;
}

.icon_container img {
    padding: 0;
}

/* Begining designs for the Contact page */

.banner_contact {
    background-image: url(../images/fort_knox_building.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: #006480 solid 3px;

}

.tagline_contact {
    margin: auto;
    padding-top: 100px;
    margin-bottom: 30px;
}

.headline_contact {
    text-align: center;
    margine-lef: 40px;
}

.background_form {
    background-image: url(../images/fort_knox_employees.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form_container {
    background-color: rgba(250,235,215,0.6);
    padding-top: 50px;
    padding-bottom: 80px;
}

.form {
    background-color: rgba(0,100,128,.50);
    text-align: left;
    padding: 20px;

}

.form label {
    color: white;
    font-family: "Helvetica", "Georgia", sans-serif;
    padding: 5px;
}

.contact_button {
    text-align: center;
}

.contact_info_container {
    background-color: rgba(250,235,215,0.6);
    margin-left: 20px;
}

.contact_image {
    margin-top: 150px;
    margin=left: 50px;
    border: #006480 solid 3px;
    padding: 0;
}
.contact_name {
    text-align: center;
    margin-left: 20px;
}

.info_background {
    background-color: rgba(250,235,215,0.60);
    border: whitesmoke solid 2px;
}

.contact_info {
    color: #006480;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact_info h3,h4 {
    color: #006480;
    text-align: center;
    font-size: 20px;
}

/*Beginning of Payrange Page*/

.banner_payrange {
    background-image: url(../images/payrange_banner_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


