{% extends "layouts/_base.html" %}

{% load staticfiles %}

{% block page_content %}
    <div class="row full-width">
        <header class="banner_payrange large-12 columns">
            <div>
              <img class="tagline_contact large-5 columns large-offset-3" src="{% static "images/banner_taglines/payrange_tagline.png" %}">
            </div>
            <div class="large-10 columns large-offset-1 slide-right">
                <h6>We Know You're Busy- Now You Can Enjoy Your Break!</h6>
            </div>

        </header>
    </div>
{% endblock %}
