{% extends "layouts/_base.html" %}

{% load staticfiles %}

{% block page_content %}
    <div class="row full-width">
        <header class="banner_about large-12 columns">
            <div class="row full-width">
                <div class="large-12 columns">
                    <div class="row full-width">
                        <div class="large-5 columns large-offset-4 tagline_container">
                            <img class="tagline_about" src="{% static "images/banner_taglines/our_story_tagline.png" %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width">
                <div class="large-9 columns large-offset-2 slide-right">
                    <h6 class="heading_about">Where compassionate vending starts with family.</h6>
                </div>
            </div>
        </header>
    </div>
    <div class="row full-width">
        <div class="large-12 columns mom_pop_div">
            <div class="row full-width">
                <div class="large-8 columns large-offset-2 headline_container">
                    <div class="row full-width">
                        <h1 class="main_headline_1 large-8 columns large-offset-2">Hello,</h1>
                        <h2 class="main_headline large-8 columns large-offset-2">We're Mac &amp; Denise</h2>
                        <div class="row full-width">
                            <p class="warm_message large-10 columns large-offset-1">
                                You may have noticed a husband and wife pushing around a big dolly full of goodies past your offices. Don't worry, that's just us stoping by to load up your breakrooms with your favorite snacks. We've been pushing dollies, loading machines, and taste-testing for a combined 50 years! Vending isn't just what we do, it's who we are. We're Carnes Vending,<br> your breakroom neighbors.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row full-width">
        <div class="large-12 columns road_container">
            <div class="row full-width">
                <div class="large-10 columns map_intro_container">
                    <h1 class="large-12 columns large-offset-1">"We've Been Everywhere, Man..."</h1>
                    <div class="row full-width">
                        <div large-12 columns everywhere_p_container>
                            <p class="large-8 columns large-offset-3 everywhere_p">Before we were selling snacks in army base breakrooms, we spent some time out on the road. You could find us selling phone cards at every rest area in Kentucky and some in Tennessee. Or if you had stopped by our hometown of Shelbyville, KY- you would have found us and our snacks in the rest areas off I-64. <br>Here's a little bit about where we've been.</p>
                        </div>
                        <div class="row">
                            <div id="googleMap" style="width:900px; height:500px;" class="row full-width large-10 columns large-offset-2 map">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
